@import "tailwindcss";

@theme {
  --font-display: "Montserrat", "sans-serif";
  --color-primary: #155dfc;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(20px, -30px) scale(1.1);
  }
  66% {
    transform: translate(-10px, 20px) scale(0.9);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out both;
}
.animate-fade-in-delay {
  animation: fade-in 0.8s ease-out both;
  animation-delay: 0.4s;
}
.animate-blob {
  animation: blob 7s infinite ease-in-out;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
